.page-wrapper.full-height
	.inner
		%h1.center
			教學資源
	.inner.center
		投影片
		%br/
		%iframe{:allowfullscreen => "", :frameborder => "0", :height => "356", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://www.slideshare.net/slideshow/embed_code/key/GRkI3neB8XPryg", :style => "border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;", :width => "427"}
		%br/
		%br/
		%h3 獲得邀請碼
		請寄信至
		%a{:href => "mailto:bitcoinisgood@etlgr.com"} bitcoinisgood@etlgr.com