#page-wrapper#tutorial
  %h1.center 比特幣使用教學
  %h2 下載錢包
  %section.inner
    %ul
      %li
        =link_to "Bitoex 網路錢包", "https://www.bitoex.com"
      %li 申辦帳號後即得到一個線上電子錢包
      %li
      =image_tag "bitoex1.PNG",class: "style1"
      =image_tag "bitoex2.PNG",class: "style1"
      =image_tag "bitoex3.PNG",class: "style1"
  %h2 如何購買比特幣
  %section.inner
    %ol
      %li
        %h3 輸入虛擬帳號代碼
        請選擇「繳費」→再點選「虛擬帳號」→輸入「BTC」或「BitoEX」→「確認」
        %br/
        %br/
        =image_tag 'bstep1_01.jpg', class: "style1"
        =image_tag 'bstep1_02.jpg', class: "style1"
        =image_tag 'bstep1_03.jpg', class: "style1"
      %li
        %h3 填寫電話、密碼、購買金額
        請依照步驟輸入「行動電話號碼」→再輸入「密碼」→輸入「購買金額」→「確認」
        %br/
        .red「密碼」：請自行設定，於兌換比特幣時使用，敬請妥善保管。
        %br/
        %br/
        =image_tag 'bstep2_01.jpg', class: "style1"
        =image_tag 'bstep2_02.jpg', class: "style1"
        =image_tag 'bstep2_03.jpg', class: "style1"
      %li
        %h3 列印帳單櫃檯繳費
        請確認明細後→「列印繳費單」→到全家櫃檯繳費
        %br/
        %br/
        =image_tag 'bstep3_01.jpg', class: "style2"
        =image_tag 'bstep3_02.jpg', class: "style2"
      %li
        %h3 接收手機簡訊並連結網站登入
        5分鐘之內會收到手機簡訊，連結網站前請先留意手機網路是否開啟和正常。
        %br/
        「請連結簡訊內網址」→到BitoEX頁面選擇存放位置→BitoEX錢包→登入。（觀看目前買價匯率，可選擇等待最佳匯率登入兌換。）
        %br/
        %br/
        =image_tag 'bstep4_01.jpg', class: "style2"
        =image_tag 'bstep4_02.jpg', class: "style2"
      %li
        %h3 輸入密碼，線上兌換Bitcoin
        輸入您在超商填入的「密碼」→確認購買資訊→成功入帳發送簡訊
        %br/
        %br/
        =image_tag 'bstep5_01.jpg', class: "style1"
        =image_tag 'bstep5_02.jpg', class: "style1"
        =image_tag 'bstep5_03.jpg', class: "style1"
      %li.alt
        %h1.center Bitcoin成功存入錢包
  %h2 如何升級
  %section.inner
    %ol
      %li 
        下載付款頁面的QRcode → 到Bitoex發送頁面 → 匯入圖片
        %br/
        %br/
        =image_tag 'send00.PNG', class: "style1"
        =image_tag 'send01.PNG', class: "style1"
        =image_tag 'send02.PNG', class: "style1"
      %li
        點準中間匯入QRcode → 地址匯入完成後，確認地址無誤，選擇發送 → 看到明細即發送成功
        %br/
        %br/ 
        =image_tag 'send03.PNG', class: "style1"
        =image_tag 'send04.PNG', class: "style1"
        =image_tag 'send05.PNG', class: "style1"

