/ Banner
%section#banner
  .inner
    %h2 Bitcoin is Good!
    %p
      比特幣教學、推廣、互助
      %br/
      點對點Bitcoin教育學院
      %br/
      賺取你的第一桶金。
    %ul.actions
      %li
        %a.button.special{:href => "#"} 點此開始
  %a.more.scrolly{:href => "#one"} Learn More
/ One
%section#one.wrapper.style1.special
  .inner
    %header.major
      %h2
        人們畏懼改變，排斥改變
        %br/
        只好透過你我的努力，推動比特幣發展。
      %p
        藉由微小的學費，讓人們可以輕鬆的學習比特幣。
        %br/
        而當你學會後，你也能透過交導別人賺取學費。
    %ul.icons.major
      %li
        %span.icon.fa-random.major.style1
          %span.label Lorem
      %li
        %span.icon.fa-btc.major.style2
          %span.label Ipsum
      %li
        %span.icon.fa-code.major.style3
          %span.label Dolor
/ Two
%section#two.wrapper.alt.style2
  %section.spotlight
    .image
      =image_tag 'step01.jpg'
    .content
      %h2
        第一步：用一杯飲料錢，換取一個知識。
      %p
        尋找一個導師，並支付 50台幣 來成為學徒。
        %br/
        導師會教導你關於比特幣的所有知識。
  %section.spotlight
    .image
      =image_tag 'step02.jpg'
    .content
      %h2
        第二步：成為導師，並分享出去。
      %p
        使用在第一步得到的資訊
        %br/
        教導身邊朋友比特幣，並指導他們如何使用。
  %section.spotlight
    .image
      =image_tag 'step03.jpg'
    .content
      %h2
        第三步：教導你的朋友，賺取學費！
      %p
        讓他們支付你 50台幣
        %br/
        你賺取學費，他們也得到賺錢的機會！
/ CTA
%section#cta.wrapper.style4
  .inner
    %header
      %h2 BITCOIN IS GOOD
      %p
        現在加入，成為你朋友圈中第一個導師，
        %br/
        賺取最多的錢。
    %ul.actions.vertical
      %li
        %a.button.fit.special{:href => "#"} 現在開始
      %li
        %a.button.fit{:href => "#"} 更多說明


